<%= render partial: "hide_from_backends/notice" %>
<div class="fixed left-3 bottom-3 text-lg text-gray-600">
  Rendered at <%= Time.now %>
</div>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="mx-auto max-w-3xl space-y-24">
    <div>
      <h1 class="<%= h1_classes %>">CRUD modals</h1>
      <ul class="list-disc ml-6 dark:text-white">
        <li class="py-2"><%= link_to "Show Post", post_path(@post), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "New Post", new_post_path(Post.new), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "Show Post (w/ advance history)", post_path(@post, advance: "1"), data: {turbo_frame: "modal"} %>
      </ul>
    </div>

    <div>
      <h1 class="<%= h1_classes %>">More modals</h1>
      <ul class="list-disc ml-6 dark:text-white">
        <li class="py-2"><%= link_to "Photo with no header and padding", modal_path(:photo, padding: 0, advance: 1), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "Long scrolling content", modal_path(:long, advance: 1), data: {turbo_frame: "modal"} %>
        <li class="py-2"><%= link_to "Form closing from backend on success", new_hide_from_backend_path, data: {turbo_frame: "modal"} %>
      </ul>
    </div>
  </div>
</div>


<div class="mx-auto text-center">
  <% 30.times do %>
    <div class="my-48 text-gray-300 mx-auto">
      This is a long page!
    </div>
  <% end %>
</div>

<div class="my-20 text-center">
  <%= link_to "Click for a unicat", modal_path(:photo, padding: 0, advance: 1), class: button_classes, data: {turbo_frame: "modal"} %>
</div>
