<%= render partial: "hide_from_backends/notice" %>
<div class="fixed left-3 bottom-3 text-lg text-gray-600">
  Rendered at <%= Time.now %>
</div>

<div class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8">
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="mx-auto max-w-3xl space-y-24">
    <div>
      <h1 class="<%= h1_classes %>">Examples</h1>
      <ul class="list-disc ml-6 dark:text-white">
        <li class="py-2"><%= link_to "CRUD example", posts_path, class: link_classes %></li>
        <li class="py-2"><%= link_to "Photo with no header and padding", modal_path(:photo, padding: 0, advance: 1, close_button: 1), data: {turbo_frame: "modal"}, class: link_classes %> | <%= link_to "without close button", modal_path(:photo, padding: 0, advance: 1, close_button: 0), data: {turbo_frame: "modal"}, class: link_classes %>
        <li class="py-2"><%= link_to "Long scrolling content", modal_path(:long, advance: 1, close_button: 1), data: {turbo_frame: "modal"}, class: link_classes %>
        <li class="py-2"><%= link_to "Form closing from backend on success", new_hide_from_backend_path(close_button: 1), data: {turbo_frame: "modal"}, class: link_classes %>
      </ul>
    </div>


  </div>
</div>

